<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
<body>
    <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <input type="text" id="myInput" onkeyup= "myFunction()" placeholder="Search..">
  </div>

    <table id="table">
      <thead>
    
       <tr>

        <th onclick="sortTable(0)">Name</th>
        <th onclick="sortTable(1)">Location</th>
        <th onclick="sortTable(2)">Contract Length</th>
        <th onclick="sortTable(3)">Description</th>
        <th onclick="sortTable(4)">Languages</th>
        <th onclick="sortTable(5)">DOC</th>
        <th onclick="sortTable(6)">Contract Value</th>
       </tr>
      </thead>
    
      <tbody>
       {% for dev in users %}
          <tr>
            <td>{{ dev.firstname }}</td>
            <td>{{ dev.locations }}</td>
            <td>{{ dev.contractlength }}</td>
            <td>{{ dev.descript }}</td>
            <td>{{ dev.lang }}</td>
            <td>{{ dev.docp}}</td>
           <td>R{{ dev.contractval }}</td>
          </tr>
       {% endfor %}
     </tbody>
    </table>

</body>
  <script>
    
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("table");
      switching = true;
      dir = "asc";
  
      while (switching) {
          switching = false;
          rows = table.rows;
  
          for (i = 1; i < (rows.length - 1); i++) {
              shouldSwitch = false;
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
  
              if (dir == "asc") {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                      shouldSwitch = true;
                      break;
                  }
              } else if (dir == "desc") {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                      shouldSwitch = true;
                      break;
                  }
              }
          }
          if (shouldSwitch) {
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              switchcount ++;
          } else {
              if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
              }
          }
      }
   }

  // Declare variables
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue, z;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("table");
      rows = table.rows;

  
     for (i = 1; i < (rows.length); i++) {
      z = rows[i].getElementsByTagName("td")[0];
  
      if (z) {
      txtValue = z.textContent || z.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }       
  }
}
  
  </script>
</html>

