/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/

/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}
@font-face {
  font-family: "icomoon";
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot");
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix")
      format("embedded-opentype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.ttf") format("truetype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.woff") format("woff"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cloudy:before {
  content: "\e60f";
}
.icon-sun:before {
  content: "\e610";
}
.icon-cloudy2:before {
  content: "\e611";
}
/************************************* END FONTS *************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* body {
  background: #1f253d;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
p,
a,
span {
  color: #fff;
}
.scnd-font-color {
  color: #9099b7;
}

.boxes {
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border-style: ridge;
  /* display: block; */
}
#Jobs {
  /* display: in; */
  overflow: hidden;
}
.lhsContainer {
  /* min-width: 50%; */
  max-width: 800px;
  padding: 10px;
  float: left;
  background-color: #363f61;
  border-radius: 20px;
  margin: 30px;
  /* margin-right: 30px; */
}
.rhsContainer {
  background-color: #363f61;
  border-radius: 20px;
  min-width: fit-content;
  /* margin-left: 5%; */
  margin: 30px;
  overflow: hidden;
  float: inherit;
  padding: 10px;
  /* min-width: 40%; */
  /* display: grid; */
}

.input-icon {
  font-size: 22px;
  position: absolute;
  left: 31px;
  top: 10px;
}
.input-icon.password-icon {
  left: 35px;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}

.clear {
  clear: both;
}

.icon {
  font-size: 25px;
}

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.button {
  display: block;
  width: 175px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.profile-picture {
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.big-profile-picture {
  margin: 0 auto;
  border: 5px solid #50597b;
  width: 150px;
  height: 150px;
}

/******************************************
				DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/
.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.center-date span.scnd-font-color {
  line-height: 0;
}
.recorte {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.quesito {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}
#porcion1 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#porcion1 .quesito {
  background-color: #e64c65;
  -webkit-transform: rotate(76deg);
  transform: rotate(76deg);
}
#porcion2 {
  -webkit-transform: rotate(76deg);
  transform: rotate(76deg);
}
#porcion2 .quesito {
  background-color: #11a8ab;
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
}
#porcion3 {
  -webkit-transform: rotate(215deg);
  transform: rotate(215deg);
}
#porcion3 .quesito {
  background-color: #4fc4f6;
  -webkit-transform: rotate(113deg);
  transform: rotate(113deg);
}
#porcionFin {
  -webkit-transform: rotate(-32deg);
  transform: rotate(-32deg);
}
#porcionFin .quesito {
  background-color: #fcb150;
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
}
/******************************************
				END DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/
.os-percentages {
  padding-top: 36px;
}
.os-percentages li {
  width: 75px;
  border-left: 1px solid #394264;
  text-align: center;
  background: #50597b;
}
.os {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 15px;
}
.os.ios {
  border-top: 4px solid #e64c65;
}
.os.mac {
  border-top: 4px solid #11a8ab;
}
.os.linux {
  border-top: 4px solid #fcb150;
}
.os.win {
  border-top: 4px solid #4fc4f6;
}
.os-percentage {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 25px;
}
.line-chart-block {
  height: 400px;
}
.line-chart {
  height: 200px;
  background: #11a8ab;
}

/************************************************** MIDDLE CONTAINER **********************************/
.middle-container {
  margin: 0 25px;
}
.profile {
  height: 410px;
}

/* N A V B A R ! ! ! */
/* N A V B A R ! ! ! */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* by default include the background of the option for the home navigation */
body {
  /* background: #444444; */
  color: #ffffff;
  /* center in the viewport */
  /* min-height: 100vh; */
  display: flexbox;
  place-items: center;
  font-family: "Open Sans", sans-serif;
  /* transition for the change in bg color */
  transition: background 0.5s ease-out;
}

/* display the anchor link side by side  */
nav {
  display: flex;
  /* width: 50; */
  background: #000000;
  border-radius: 50px;
  /* considerable whitespace surrounding the navigation's items */
  /* padding: 1%; */
  width: 100%;
  justify-content: center;

  /* border-radius: 0 0 30px 30px; */
  /* box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1); */
}

/* remove default style and slightly separate the anchor links from one another */
a {
  width: 100%;
  color: inherit;
  text-decoration: none;
  /* background-color: #ff0f0f; */
  margin: 0 0.2rem;
  /* display the svg icon and span elements side by side, vertically aligned */
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  /* include padding for the background applied on the active item */
  /* padding: 15px;
  padding-left: 30px;
  padding-right: 30px; */
  /* margin: 1px; */
  border-radius: 30px;

  /* position relative for the pseudo element */
  position: relative;
  /* custom properties for the colors picked up by the elements when clicked (and updated for each link in the script) */
  --hover-bg: #5b37b720;
  --hover-c: #5b37b7;
}

/* include considerable negative margin to have the svg icon overlapping with the span element */
a svg {
  /* margin-left: 2.5em; */
  /* width: 100%; */
  /* background-color: #001a90; */
  max-height: 60px;
  pointer-events: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 15px;
  /* margin: 10%; */
  /* transition for the change in margin */
  transition: margin 0.5s ease-out;
}
/* by default hide the span element */
a span {
  /* background-color: #4fc4f6; */
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  font-size: 0.9rem;
  /* margin: 0.9rem; */
}
/* include with a pseudo element relative to the anchor link a circle, with a fixed with and height */
a:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 70px;
  height: 70px;

  border-radius: 50%;
  /* positioned to the left of the anchor link and scaled to 0 */
  transform: translate(0%, -50%) scale(0);
  visibility: visible;
  opacity: 1;
}
/* when active */
/* specify the colors dictated by the custom properties */
a.active {
  background: var(--hover-bg);
  color: var(--hover-c);
}
/* using the color specified by the then updated custom property show the circle of the pseudo element increasing its size and highlighting it momentarily */
a.active:before {
  background: var(--hover-c);

  opacity: 0;
  visibility: hidden;
  transform: translate(0%, -50%) scale(2);
  /* transition only when the class is applied */
  transition: all 0.4s ease-out;
}
/* remove the margin applied to the svg to make it overlay atop the anchor link */
a.active svg {
  margin-right: 0;
}
/* show the span element */
a.active span {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-out;
}

/* on smaller viewports show the navigation bar on the side, attached to the left of the screen */
@media (max-width: 500px) {
  nav {
    flex-direction: row;
    justify-self: start;
    /* border-radius: 0 30px 30px 0; */
    /* padding: 2rem 1.15rem 2rem 0.75rem; */
  }
  /* change the margin separating the anchor link elements now dividing the elements vertically */
  nav a {
    margin: 10px;
  }
  /* remove the negative margin from the svg elements, as the width is to be taken in full */
  nav svg {
    margin: 0;
  }
}

.svg-icon {
  width: 10;
  height: 10;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: currentColor;
}
.svg-icon circle {
  stroke: currentColor;
  stroke-width: 10;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}
